#templateFoodCard, #templateFoodPlanCard, #templateTableElement{
    display: none;
}

#templateTableElement{
    display: none;
}

.removeFoodItem{
    display: none;
}

.removeFoodItem:hover{
    cursor: pointer;
}