#templateFoodCard, #templateFoodPlanCard, #templateTableElement{
    display: none;
}

#templateTableElement{
    display: none;
}

.removeFoodItem{
    display: none;
}

.removeFoodItem:hover{
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #548c7d;
    color: white;
    text-align: center;
  }